body
{
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-size: large;
    letter-spacing: 0.15em;
    color: whitesmoke;
    margin: 0;
    height: 100%;
    overflow: hidden;
}

.navbar
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.navbar ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(55, 55, 55);
}

.navbar li
{
    width: 170px;
    text-align: center;
    float: left;
    transition-property: width;
    transition-duration: 0.4s;
    transition-timing-function: ease;
    transition-delay: 0s;
}

.navbar li:last-child
{
    float: right;
    border-left: solid;
    border-width: 1px;
    border-color: rgb(80, 80, 80);
}

.navbar li a
{
    transition-property: background-color;
    transition-duration: 0.4s;
    transition-timing-function: ease;
    transition-delay: 0s;

    user-select: none;
    text-decoration: none;
    letter-spacing: 0.15em;
    font-size: medium;
    display: block;

    border-right: solid;
    border-width: 1px;
    border-color: rgb(80, 80, 80);

    padding: 14px 16px;
    color: white;
    background-color: rgb(55, 55, 55);
}

.sectionButton
{
    cursor: pointer;
}

.page
{
    background: linear-gradient(55deg, rgb(116, 116, 116) 0%, rgb(77, 77, 77) 50%, rgb(50, 50, 50) 100%);
    padding-top: 50px;
    padding-bottom: 2000px;
}

.sectionBody
{
    padding: 3%;
    padding-top: 1.5%;
}